.registration {
	font-size: 20px;

	a {
		text-decoration: underline;
		color: red;
		font-size: 24px;
	}
}

.form-control {
	margin-bottom: 25px;
}

.logout {
	margin-top: 20px;
}

.panel-layout {
	width: 40%;
	margin: 0 auto;
}

.btn-section {
	margin-top: 20px;
}

.alert, .notice {
	padding: 15px 0 !important;
	position: fixed;
}

.align-margin {
	margin-bottom: 20px;
}