<div class="panel-layout">
	<div class="panel panel-default">
		<div class="panel-heading text-center">New Player</div>
		<%= render 'form' %>
	</div>
</div>
<%= link_to 'Back', players_path, class: 'btn btn-primary pull-right' %>
